.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  border-top: 1px solid #797979;
  padding: 15px 0;
}

/* .footer ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
} */

.footer ul li {
  margin-left: 20px;
  display: inline-block;
  line-height: 1;
}